body {
    font-family: monospace;
    margin: 0px;
    padding: 0px;
    background-color: #ccc;
    color: #555;
}

h1{
    text-align: center;
    font-size: 34px;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    position: relative;
}

#successMessage {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border-radius: 5px;
    display: none;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin: 4px 40px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin: 5px 40px;
    box-sizing: border-box;
}

button {
    background-color: #555;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 35%;
}

button:hover {
    background-color: #333;
}
