body {
    font-family: monospace;
    margin: 0px;
    padding: 0px;
    background-color: #ccc;
    color: #555;
}

h1{
    text-align: center;
    font-size: 34px;
    margin: 50px 0px;
}

.container {
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
    background-color: #e6e6e6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 8px;
}

#successMessage {
    position: relative;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border-radius: 5px;
    margin-top: 40px;
    width: 54%;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin: 10px 0px;
}

input[type="text"],
select {
    width: calc(100% - 80px); 
    padding: 10px;
    margin: 10px 40px;
    border: 1px solid #ddd; 
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); 
}

button {
    background-color: #555;
    color: white;
    border: none;
    padding: 15px;
    margin: 10px 40px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #333;
}

#addLocationBtn,
#removeLocationBtn {
    width: auto;
    padding: 10px;
    margin: 10px 40px;
    display: inline-block;
}

#bookForm button[type="submit"]{
    width: calc(100% - 80px);
    display: block;
    margin: 20px auto;
}